*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Montserrat', sans-serif;
}
body{
    background:url(images/fixed.png) no-repeat  center / cover ;
}
/****container styling*************/
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: rgba(0, 0, 0,.5);
    margin: 40vh 30vw;
    padding: 10px
    }

h2{
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color:#ff9ec8;


}
.container .input_field{
    margin-bottom: 10px;
}
.container .input_field input[type="text"],
.container textarea{
    width: 100%;
    border: 1px solid #e0e0e0eb;
    padding:10px;

}
.container textarea{
    height: 80px;
    resize: none;


}
/****submit button styling*************/
.container .submit_btn input[type="submit"]{ 
    border:0;
    padding: 10px;
    width: 100%;
    background:hsla(334, 71%, 66%, 0.701);
    color:#332902;
    letter-spacing: 4px;
    text-transform:uppercase;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
 /********error message display*************/
.container #error_message{
    margin-bottom: 20px;
    padding:0px;
    background: #fc0008bd;
    text-align: center;
    font-size: 16px;
    transition: all 0.5s ease;


}

@media (min-width:360px){ /*********
    360px devices*************/
   .container{
       display: flex;
        padding: 5;
        margin: 20px; 

    }
}
@media (min-width:900px){ /*********
    900px devices*************/
    .container{
        display: flex;
         padding: 20px;
         margin:10px auto; 
         width: 538px;
         

 
     }

     @media (min-width:1280px){ /*********
        1280px devices*************/
        .container{
            display: flex;
             padding: 20px;
             margin:30px auto; 
             width: 600px;
             font-size: 30px;
    
     
         }
     } 
    
    }
        